{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>


<html lang="en">

<head>
    <title>Add Device</title>
</head>
<body>
{% block content %}
      <div class="col-md-5">
          <div class="content-section">
            <div class="text-center"><h6 class="display-4">Add Details</h6></div>
           <form method="post" class="form-control" >
    {% csrf_token %}
    <fieldset class="form-group">
         <legend class="border-bottom mb -4">
             <div class="small">{{ form|crispy }}</div>
         </legend>
            </fieldset>
    <div class="form-group">
         <input type="submit" value="Add Details" class="btn btn-primary">
    </div>


{% endblock %}
</body>
</html>