{% extends 'main/sidenav.html' %}
{% load static %}
{% block content1 %}
    <title>Marker Clustering</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
#map{
width:100%;
height:570px;
position:relative;
margin:0px;
padding:0px;
}

.container{
margin:0px;
padding:0px;
}
.row{
margin:0px;
padding:0px;
width:auto;
}

.comp button{background-color:transparent;
text-decoration:none;
color:black;
font-size:12px;
}
button{
background-color:transparent;
text-decoration:none;
color:black;
border:0;
}
* {
box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}
.z{
width: 300px;
height: 80px;
padding-right: 20px;
padding-left: 30px;
}
 .col-lg-1 {

    max-width: 4.333333%;
}

.p {

-webkit-appearance: button;
-webkit-writing-mode: horizontal-tb !important;
 display: inline-block;
 width:45px;
 margin: 0em;
 padding: 0px;
 background-color: transparent;
 font-size:10px;
 text-align:center;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}




.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility:visible;
  width: 120px;
  background-color: black;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
.sample{
width:635px;
overflow:auto;
height:450px;
position:relative;
float:left;
padding-right:2px;
margin-left:4px;
}
.cont{
margin:0px;
}
.navbar{margin-bottom:2px;}
.der{margin-bottom:0px;padding-bottom:0px;}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#F8F8F8;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 70px;
}

.sidenav a {
  padding: 2px 2px 2px 22px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:#000;
  padding:0px;
  margin:0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
    </style>



    <script>
function CenterControl(controlDiv, map) {

// Set CSS for the control border.
var controlUI = document.createElement('div');
controlUI.style.backgroundImage = 'url("https://img.icons8.com/ios/20/000000/filter.png")';
controlUI.style.backgroundRepeat = 'no-repeat';
controlUI.style.border = '2px solid #fff';
controlUI.style.borderRadius = '3px';
controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
controlUI.style.cursor = 'pointer';
controlUI.style.marginTop = '0px';
controlUI.style. marginRight='10px';
controlUI.style.textAlign = 'center';
controlUI.title = 'Filters';
controlUI.style.backgroundColor='white';
controlUI.style.height='30px';
controlUI.style.width='35px';
controlDiv.appendChild(controlUI);



}
function CenterControl2(controlDiv, map) {

// Set CSS for the control border.
var controlUI = document.createElement('div');
controlUI.style.backgroundImage = 'url("https://img.icons8.com/ios-glyphs/20/000000/address.png")';
controlUI.style.backgroundRepeat = 'no-repeat';
controlUI.style.border = '2px solid #fff';
controlUI.style.borderRadius = '3px';
controlUI.style.boxShadow = '0 2px 2px rgba(0,0,0,.3)';
controlUI.style.cursor = 'pointer';
controlUI.style.marginBottom = '0px';
controlUI.style. marginRight='10px';
controlUI.style.textAlign = 'center';
controlUI.title = 'Address';
controlUI.style.backgroundColor='white';
controlUI.style.height='30px';
controlUI.style.width='35px';
controlDiv.appendChild(controlUI);



}
function CenterControl3(controlDiv, map) {

// Set CSS for the control border.
var controlUI = document.createElement('div');
controlUI.style.backgroundImage = 'url("https://img.icons8.com/wired/20/000000/treasure-map.png")';
controlUI.style.backgroundRepeat = 'no-repeat';
controlUI.style.border = '2px solid #fff';
controlUI.style.borderRadius = '3px';
controlUI.style.boxShadow = '0 2px 2px rgba(0,0,0,.3)';
controlUI.style.cursor = 'pointer';
controlUI.style.marginBottom = '0px';
controlUI.style. marginRight='10px';
controlUI.style.textAlign = 'center';
controlUI.title = 'PlayBack';
controlUI.style.backgroundColor='white';
controlUI.style.height='30px';
controlUI.style.width='35px';
controlDiv.appendChild(controlUI);



}
function CenterControl4(controlDiv, map) {

// Set CSS for the control border.
var controlUI = document.createElement('div');
controlUI.style.backgroundImage = 'url("https://img.icons8.com/windows/20/000000/comments.png")';
controlUI.style.backgroundRepeat = 'no-repeat';
controlUI.style.border = '2px solid #fff';
controlUI.style.borderRadius = '3px';
controlUI.style.boxShadow = '0 2px 2px rgba(0,0,0,.3)';
controlUI.style.cursor = 'pointer';
controlUI.style.marginBottom = '0px';
controlUI.style. marginRight='10px';
controlUI.style.textAlign = 'center';
controlUI.title = 'ToolTip';
controlUI.style.backgroundColor='white';
controlUI.style.height='30px';
controlUI.style.width='35px';
controlDiv.appendChild(controlUI);


}
function CenterControl5(controlDiv, map) {

// Set CSS for the control border.
var controlUI = document.createElement('div');
controlUI.style.backgroundImage = 'url("https://img.icons8.com/ios-filled/20/000000/car.png")';
controlUI.style.backgroundRepeat = 'no-repeat';
controlUI.style.border = '2px solid #fff';
controlUI.style.borderRadius = '3px';
controlUI.style.boxShadow = '0 2px 2px rgba(0,0,0,.3)';
controlUI.style.cursor = 'pointer';
controlUI.style.marginBottom = '0px';
controlUI.style. marginRight='10px';
controlUI.style.textAlign = 'center';
controlUI.title = 'Vehicle';
controlUI.style.backgroundColor='white';
controlUI.style.height='30px';
controlUI.style.width='35px';
controlDiv.appendChild(controlUI);



}
function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 4.8,
center: {lat: 22.9734, lng: 78.6569},
disableDefaultUI: true,

fullscreenControl: true,
fullscreenControlOptions: {
position: google.maps.ControlPosition.RIGHT_CENTER
},

zoomControl: true,
mapTypeControl:true,
mapTypeControlOptions: {
position: google.maps.ControlPosition.RIGHT_TOP,

},
zoomControlOptions: {
position: google.maps.ControlPosition.RIGHT_CENTER,
style: google.maps.ZoomControlStyle.SMALL,
},


});
var centerControlDiv = document.createElement('div');
var centerControl1 = new CenterControl(centerControlDiv, map);

centerControlDiv.index = 1;

map.controls[google.maps.ControlPosition.RIGHT_TOP].push(centerControlDiv);
var centerControlDiv1 = document.createElement('div');
var centerControl12 = new CenterControl2(centerControlDiv1, map);

centerControlDiv1.index = 1;

map.controls[google.maps.ControlPosition.RIGHT_TOP].push(centerControlDiv1);
var centerControlDiv3 = document.createElement('div');
var centerControl14 = new CenterControl3(centerControlDiv3, map);

centerControlDiv3.index = 1;

map.controls[google.maps.ControlPosition.RIGHT_TOP].push(centerControlDiv3);
var centerControlDiv4 = document.createElement('div');
var centerControl15 = new CenterControl4(centerControlDiv4, map);

centerControlDiv4.index = 1;

map.controls[google.maps.ControlPosition.RIGHT_TOP].push(centerControlDiv4);
var centerControlDiv5 = document.createElement('div');
var centerControl16 = new CenterControl5(centerControlDiv5, map);

centerControlDiv5.index = 1;

map.controls[google.maps.ControlPosition.RIGHT_TOP].push(centerControlDiv5);
google.maps.event.addDomListener(centerControlDiv , 'click', function() {
$('#myModal').modal('toggle');
$('#myModal').modal('show');
});
google.maps.event.addDomListener(centerControlDiv1 , 'click', function() {
$('#myModal2').modal('toggle');
$('#myModal2').modal('show');

});
google.maps.event.addDomListener(centerControlDiv3 , 'click', function() {
$('#myModal2').modal('toggle');
$('#myModal2').modal('show');

});
google.maps.event.addDomListener(centerControlDiv4 , 'click', function() {
$('#myModal1').modal('toggle');
$('#myModal1').modal('show');

});
google.maps.event.addDomListener(centerControlDiv5 , 'click', function() {
$('#myModal3').modal('toggle');
$('#myModal3').modal('show');

});

var icons = {
Idle: {
name: 'Idle',
icon: '{% static 'images/yellowcar.png'%}'
},
Running: {
name: 'Running',
icon: '{% static 'images/greencar.png'%}'
},
Stop: {
name: 'Stop',
icon: '{% static 'images/redcar.png'%}'
},
NOData: {
name: 'Nodata',
icon: '{% static 'images/bluecar.png'%}'
}
};

var infowindow = new google.maps.InfoWindow();
var j,labels='',count=0;

var marker = locations.map(function(location, i) {
    count =+i;
return new google.maps.Marker({
position: location,

icon: icons[location.status].icon,
label: labels[i % labels.length],
title: location.plate,
map:map
});
alert(count);
});




var markerCluster = new MarkerClusterer(map, marker,
{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});


}
var locations = {{ myfile|safe }};




$(document).ready(function(){
$("#b1").hide();
$("#c1").hide();
$("#v1").hide();
$("#vt1").hide();
$("#vg1").hide();
$("#c").click(function(){
$("#c1").show();
$("#b1").hide();
$("#v1").hide();
$("#vt1").hide();
$("#vg1").hide();
$("#check1").click(function () {
    $(".ch1").prop('checked', $(this).prop('checked'));
});
});
$("#b").click(function(){
$("#b1").show();
$("#c1").hide();
$("#v1").hide();
$("#vt1").hide();
$("#vg1").hide();
$("#check2").click(function () {
    $(".ch2").prop('checked', $(this).prop('checked'));
});
});
$("#vt").click(function(){
$("#vt1").show();
$("#b1").hide();
$("#c1").hide();
$("#v1").hide();
$("#vg1").hide();
$("#check3").click(function () {
    $(".ch3").prop('checked', $(this).prop('checked'));
});
});
$("#v").click(function(){
$("#v1").show();
$("#b1").hide();
$("#c1").hide();
$("#vt1").hide();
$("#vg1").hide();
$("#check4").click(function () {
    $(".ch4").prop('checked', $(this).prop('checked'));
});
});
$("#vg").click(function(){
$("#vg1").show();
$("#v1").hide();
$("#b1").hide();
$("#c1").hide();
$("#vt1").hide();
});
});
function myFunction() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
table = document.getElementById("myTable");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
td = tr[i].getElementsByTagName("td")[0];
if (td) {
txtValue = td.textContent || td.innerText;
if (txtValue.toUpperCase().indexOf(filter) > -1) {
tr[i].style.display = "";
} else {
tr[i].style.display = "none";
}
}
}}
function myFunction() {
  window.print();
  }
  function myText(){
  $('#sample').removeClass('sample');
$('#sample').show();
 $('#sample').removeClass('col-md-6');
  $('#map').hide();
}
 function myText1(){
  $('#sample').show();
  $('#sample').addClass('sample');
  $('#map').show();
    $('#map').removeClass('d');

}
function myText2(){
$('#map').show();
 $('#map').removeClass('col-md-6');
   $('#map').addClass('d');
  $('#sample').hide();
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
    </script>


{#    <div class="container bg-dark" style="font-size:24px;float:right;margin-top:60px;color:white"></div>#}
{#<a href="#"><span class="glyphicon glyphicon-print"></span>#}
{#    </a>&nbsp;&nbsp;&nbsp;#}
{#	<a href="#"><span class="glyphicon glyphicon-fullscreen"></span></a>&nbsp;&nbsp;&nbsp;#}
{#	<a href="#"><span class="glyphicon glyphicon-refresh"></span></a>#}
{#</div>#}


<div id="mySidenav" class="sidenav" style="display:none">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br><br>
</div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
         <div class="btn-group">
<button type="button" class="btn btn-primary" id="c">Company</button>&nbsp;<button type="button" class="btn btn-primary" id="b">Branch</button><button type="button" class="btn btn-primary" id="vt">Vehicle Type</button><button type="button" class="btn btn-primary"id="vg">Vehicle Group</button><button type="button" class="btn btn-primary" id="v">Vehicle</button>
</div><div>
<div id="c1">
<input type="checkbox" value="" id="check1">&nbsp;&nbsp;Andavar<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Aashotaush Kumar<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Amaitranjan Kumar<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Amod Kumar<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Arun Yadav<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Bhushan Mistri<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Suraj Kumar<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;SSK<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Tracalogic<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Upendra Kumar<br>
</div>
<div id="b1">
<label>Andavar</label><br>
<input type="checkbox" value="" id="check2">&nbsp;&nbsp;Chennai<br><br>
<label>Aashotaush Kumar</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Shaikhpura<br><br>
<label>Amaitranjan Kumar</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Bihar<br><br>
<label>Amod Kumar</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Delhi<br><br>
<label>Arun Yadav</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Chennai<br><br>
<label>Bhushan Mistri</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;India<br><br>
<label>Suraj Kumar</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Patna<br><br>
<label>SSK</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Patna<br><br>
<label>Tracalogic</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Chennai<br><br>
<label>Upendra Kumar</label><br>
<input type="checkbox" value="" class="ch2">&nbsp;&nbsp;Delhi<br>
</div>
<div id="vt1">
<input type="checkbox" value="" id="check3">&nbsp;&nbsp;Ambulance<br>
<input type="checkbox" value="" class="ch3">&nbsp;&nbsp;Car<br>
<input type="checkbox" value="" class="ch3">&nbsp;&nbsp;Bus<br>
<input type="checkbox" value="" class="ch3">&nbsp;&nbsp;Bike<br>
<input type="checkbox" value="" class="ch3">&nbsp;&nbsp;Truck<br>
<input type="checkbox" value="" class="ch3">&nbsp;&nbsp;Tempo<br>
</div>
<div id="vg1">

<input type="checkbox" value="" class="ch">&nbsp;&nbsp;<br>
<input type="checkbox" value="" class="ch">&nbsp;&nbsp;<br>
</div>
<div id="v1">
<input type="checkbox" value="all" id="check4">&nbsp;&nbsp;Select All<br>
<input type="checkbox" value="" class="ch4">&nbsp;&nbsp;<br>
<input type="checkbox" value="" class="ch4">&nbsp;&nbsp;<br>
</div>
</div>
        </div>

      </div>

    </div>
  </div>





<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">

        <div class="modal-header">
            <h1>Tooltip</h1>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
<label for="vehicle1">Vehicle Information</label>
<table><tr><td><input type="checkbox" value="" id="check7s">&nbsp;&nbsp;Company&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input type="checkbox" value="" id="check11">&nbsp;&nbsp;Type</td></tr>
<br>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Branch&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Driver</td></tr>
<br>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Number&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;License Expiry</td></tr>
</table>
<hr>
<label for="vehicle1">Live Information</label><br>
<input type="checkbox" value="" id="check12">&nbsp;&nbsp;Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="" id="check9s">&nbsp;&nbsp;Time
<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Geo Location
<hr>
<label for="vehicle1">Distance Information</label><br>
<input type="checkbox" value="" id="check">&nbsp;&nbsp;Last Stop
<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Total
<hr>
<label for="vehicle1">Duration Information</label><br>
<input type="checkbox" value="" id="checks">&nbsp;&nbsp;Last Stop
<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Total
<hr>
<label for="vehicle1">Parking Information</label><br>
<input type="checkbox" value="" id="check1s">&nbsp;&nbsp;Last Stop
<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Total
<hr>
<label for="vehicle1">Speed Information</label><br>
<input type="checkbox" value="" id="check2s">&nbsp;&nbsp;Average&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="" id="check4s">&nbsp;&nbsp;&nbsp;Speedometer
<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Max
<hr>
<label for="vehicle1">Alert Information</label><br>
<input type="checkbox" value="" id="check3s">&nbsp;&nbsp;Last Stop
<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Total
<hr>
<label for="vehicle1">Port Information</label>
<table><tr><td><input type="checkbox" value="" id="check5s">&nbsp;&nbsp;Ignition&nbsp;&nbsp;</td><td><input type="checkbox" value="" id="check6s">&nbsp;&nbsp;PDOP</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Power&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Network Mode</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;AC&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Movement</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;GPS&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Engine 1</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;GSM&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Engine 2</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;External Power&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Internal Battery(Voltage)</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Battery(%)&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Internal Battery(%)</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Deep Sleep Mode&nbsp;&nbsp;</td><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Seat Belt</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Cell ID</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Area Code</td></tr>
<tr><td><input type="checkbox" value="" class="ch1">&nbsp;&nbsp;HDOP</td></tr>
</table>
<hr>
<label for="vehicle1">Other Controls</label><br>
<input type="checkbox" value="" id="check13">&nbsp;&nbsp;Odometer
<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Fuel Meter


</div>
        </div>

      </div>

    </div>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
     <h2>Address Type</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

</div>
<div class="modal-body">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
<table id="myTable">
<tr><td>
<label><input type="checkbox" value="">&nbsp;&nbsp;Airport</label></td>
</tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;ATM</label></td>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Bank</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Beach</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Bridge</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Bulk Milk Coolers</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Bus Stop</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Chilling Center</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Dairies</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Depot</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;District</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Facility</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Factory</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Fuel Filling Station</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Gate</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;HCE</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;HighWay</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Home</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Hospital</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Hotel</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Jelly</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;KM Post</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Lake</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Lease</label></td>
</tr>
<tr>
<td><label><input type="checkbox" value="">&nbsp;&nbsp;Lease</label></td>
</tr>
</table>
		</div>
		</div>
		</div>
		</div>
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
              <h1>Vehicle</h1>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
<h4>Show Label</h4>
<label class="switch"><input type="checkbox"></label><br>
<h5>Shows Vehicle Number-Type</h5>
<hr>
<h4>Show Cluster</h4>
<label class="switch"><input type="checkbox"></label><br>
<h5>Shows Vehicles in Cluster</h5>
</div>
</div>
</div>
</div>
    <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
            <h1>Settings <a href="#"><i class="fa fa-save" style="font-size:20px;float:right" data-placement="bottom" title="Save"></i></a></h1>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
<label for="vehicle">Select Column for Textual Report</label><br>
<input type="checkbox" value="" id="check11">&nbsp;&nbsp;SN<br>
<input type="checkbox" value="" id="check11">&nbsp;&nbsp;Driver<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;IGN</br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;PWR<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;AC<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;GPS<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Duration<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Speed<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Location<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;POI<br>
<input type="checkbox" value="" class="ch1">&nbsp;&nbsp;Info<br>
</div>
        </div>

      </div>

    </div>

 <div  class="container-fluid bg-light">
     <div class="row"><div class="col-lg-7"></div>
         <div class="col-lg-1 " style="padding:0px;margin:0px;">    <form method='GET'>  <button class = 'p'  name="runningbutton" type='submit'>
    <span style="color:green;font-size:14px"><b>{{ running }}</b> </span><p><b>Running</b></p></button></form></div>
         <div class="col-lg-1 "style="padding:0px;margin:0px;width:10px;"> <form method='GET'> <button class = 'p'  name="idlebutton" type='submit'>
          <span style="color:orange;font-size:14px"><b>{{ idle }}</b> </span><br><p><b>Idle</b></p></button> </form></div>
         <div class="  col-lg-1 "style="padding:0px;margin:0px;width:10px;"> <form method='GET'> <button class="p"  name="stopbutton" type='submit'>
    <span style="color:red;font-size:14px"><b>{{ stop }}</b> </span><br><b>Stop</b>
         </button></form>  </div>
         <div class=" col-lg-1 "style="padding:0px;margin:0px;">   <button class="p"><span style="font-size:14px">0</span><br><b>No Data </b></button></div>

         <div class=" col-lg-1"style="padding:0px;margin:0px;">
            <form method='GET'> <button class = 'p'  name="totalbutton"  type='submit'>
                <span style="font-size:14px"><b>{{ total }} </b></span><br><b>Total</b></button></form> </div>



    <div class=" col-lg-2 " style="padding:0px;margin:0px;margin-top:7px;">
 &nbsp; &nbsp;<a href="#"><span class="glyphicon glyphicon-print" style="font-size:15px" onclick="myFunction()" data-placement="bottom" title="Print"></span></a>
    &nbsp;  &nbsp; &nbsp;  <a href="#"><i class="glyphicon glyphicon-refresh" style="font-size:15px" data-placement="bottom" title="Refresh"></i></a>
        &nbsp; &nbsp; &nbsp;  <a href="#"><i class="fa fa-power-off" style="font-size:15px" data-placement="bottom" title="Logout"></i></a>
</div></div>
     </div>

{#    -------------------------------------------------------------------pdf---------------------------------------------------------------------------------#}
   <script>

function createPDF() {
var sTable = document.getElementById('tab').innerHTML;

var style = "<style>";
style = style + "table {width: 100%;font: 17px Calibri;}";
style = style + "table, th, td {border: solid 2px #000; border-collapse: collapse;";
style = style + "padding: 2px 3px;text-align: center;}";
style = style + "</style>";

// CREATE A WINDOW OBJECT.
var win = window.open('', '', 'height=700,width=700');

win.document.write('<html><head>');
win.document.write('<title>Profile</title>'); // <title> FOR PDF HEADER.
win.document.write(style); // ADD STYLE INSIDE THE HEAD TAG.
win.document.write('</head>');
win.document.write('<body>');
win.document.write(sTable); // THE TABLE CONTENTS INSIDE THE BODY TAG.
win.document.write('</body></html>');

win.document.close(); // CLOSE THE CURRENT WINDOW.

win.print(); // PRINT THE CONTENTS.
}


</script>

    {#    -------------------------------------------------------------------pdf---------------------------------------------------------------------------------#}
        <script src="{% static 'js/excel.js'%}" type="text/javascript"></script>
        <script type="text/javascript">
        function Export1() {
            $("#sample").table2excel({
            filename: "Table.xls"
            });
            }
        </script>



        <div id="map" ></div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&callback=initMap">
    </script>
{% endblock %}
