{% extends 'main/sidenav.html' %}
{% load static from staticfiles %}

{% block content1 %}



<div class="starter-template">

</div>

<div class="container">
<div class="row">
<div class="col-sm-6"><div class="card bg-light">
    <div class="card-body text-center"><canvas id="myChart2" width="120" height="80">
<script src="{% static 'js/sample3.js' %}"></script>
    </canvas></div></div></div>
<div class="col-sm-6">
<div class="card bg-light">
    <div class="card-body text-center"><canvas id="myChart" width="120" height="80">
 <script src="{% static 'js/sample.js' %}"></script>

</canvas>
    </div></div></div></div><br><br>
    <div class="row"><div class="col-sm-3"></div>
<div class="col-sm-6"> <div class="card bg-light card-deck">
    <div class="card-body text-center"><canvas id="myChart1" width="120" height="80">
 <script src="{% static 'js/sample1.js' %}"></script>

    </canvas></div></div></div><div class="col-sm-3"></div>
</div>
</div>

{% endblock content1 %}