{% extends 'main/sidenav.html' %}
{% load crispy_forms_tags %}
{% block content1 %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<div class="container">

<table class="table table-hover" Style="width:100%">
<thead>
<tr>
<th>
Trip
</th>
</tr>
</thead>

<thead style="color:white;background-color:gray">
<tr>
<th>Route</th>
<th>Vehicle</th>
<th>Driver</th>
<th>Start</th>
<th>End</th>
<th>Stages</th>
<th>Distance</th>
<th>Duration</th>

</tr>
</thead>
<tbody>
<tr>
<td>R121</td>
<td>AT345456</td>
<td>Richard Packard</td>
<td>Lat1</td>
<td>Lat2</td>
<td>5</td>
<td>500m</td>
<td>1hr 30mins</td>

</tr>
<tr>
<td>R124</td>
<td>AT345345</td>
<td>Vijay</td>
<td>Lat1</td>
<td>Lat2</td>
<td>5</td>
<td>600m</td>
<td>1hr 33mins</td>

</tr>
<tr>
<td>R125</td>
<td>AT345213</td>
<td>Ramesh</td>
<td>Lat1</td>
<td>Lat2</td>
<td>7</td>
<td>700m</td>
<td>1hr 12mins</td>

</tr>
<tr>
<td>R128</td>
<td>AT341234</td>
<td>Ajay</td>
<td>Lat1</td>
<td>Lat2</td>
<td>4</td>
<td>530m</td>
<td>2hr 30mins</td>

</tr>
<tr>
<td>R161</td>
<td>AT345907</td>
<td>Gopi</td>
<td>Lat1</td>
<td>Lat2</td>
<td>8</td>
<td>200m</td>
<td>1hr 40mins</td>

</tr>
<tr>
<td>R151</td>
<td>AT341456</td>
<td>Sathish</td>
<td>Lat1</td>
<td>Lat2</td>
<td>9</td>
<td>230m</td>
<td>1hr 10mins</td>

</tr>
<tr>
<td>R321</td>
<td>AT245078</td>
<td>Richard Packard</td>
<td>Lat1</td>
<td>Lat2</td>
<td>3</td>
<td>300m</td>
<td>3hr 10mins</td>

</tr>
<tr>
<td>R123</td>
<td>AT945678</td>
<td>Gowtham</td>
<td>Lat1</td>
<td>Lat2</td>
<td>5</td>
<td>200m</td>
<td>2hr 20mins</td>
<tr>
<td>R134</td>
<td>AT345345</td>
<td>Mukkesh</td>
<td>Lat1</td>
<td>Lat2</td>
<td>4</td>
<td>400m</td>
<td>1hr 80mins</td>

</tr>
<tr>
<td>R234</td>
<td>AT345098</td>
<td>Kumar</td>
<td>Lat1</td>
<td>Lat2</td>
<td>6</td>
<td>534m</td>
<td>1hr 23mins</td>

</tr>
<tr>
<td>R234</td>
<td>AT341234</td>
<td>Vikram</td>
<td>Lat1</td>
<td>Lat2</td>
<td>5</td>
<td>400m</td>
<td>1hr 20mins</td>

</tr>
<tr>
<td>R241</td>
<td>AT345656</td>
<td>Surya</td>
<td>Lat1</td>
<td>Lat2</td>
<td>5</td>
<td>340m</td>
<td>2hr 12mins</td>

</tr>
</tbody>
</table>
</div>

{% endblock %}