{% extends 'main/sidenav.html' %}
{% load static from staticfiles %}

{% block content1 %}
<style xmlns:border-radius="http://www.w3.org/1999/xhtml" xmlns:border-radius="http://www.w3.org/1999/xhtml"
xmlns:border-radius="http://www.w3.org/1999/xhtml">


.b{
margin-top: 110px;
}
.a .card{
font-size: 12px;
padding-left: 0px;
width: 190px;
height:78px;
    border-radius: 8px;

}

.a .card:hover{

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.p {

-webkit-appearance: button;
-webkit-writing-mode: horizontal-tb !important;
 display: inline-block;
 width:190px;
 height:78px;
 margin: 0em;
 padding: 0px;
 border: none;
      border-radius: 10px;
}
.a .card-body{

width: 180px;
height:78px;
color:black;
padding:1em;
}
.z{
width: 300px;
height: 80px;
padding-right: 20px;
padding-left: 30px;
}
.navbar-header .navbar-toggle{
color:white;
}



.scrollit {
height:350px;
width: 300px;
    overflow: scroll;
}
.card-horizontal{
display: flex;


}

.d{

height:auto;
border-radius: 8px;
}
.d img{
padding-left: 8px;

}
#x{
text-decoration: none;
}
</style>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>



<div class="container a" style="position:relative;margin-left:65px;">
<br>
<div class="row">
<div class="col-lg-2 card  "><form class = '' method='GET'><button style="background-color: transparent;" class = 'p' name="totalbutton"  type='submit'>
<div class="card-body "><img class="card-img-left" src="{% static 'images/miniwhite.png'%}" height="45px" width="100px" >
 &nbsp; &nbsp;<span style="font-size: 25px">{{ total }} </span><b style="padding-left:50px;">Total</b></div></button>
</form></div>
&nbsp;&nbsp;
<div class="col-lg-2 card ">
<form class = '' method='GET'><button class = 'p' name="runningbutton" type='submit' style="background-color: transparent"><div class="card-body"><img class="card-img-left" src="{% static 'images/minigreen.png'%}" height="40px" width="90px" >
   &nbsp;&nbsp; &nbsp;&nbsp;<span style="font-size: 25px">{{ running }} </span><b style="padding-left:50px;">Running</b></div></button>
</form></div>

&nbsp;&nbsp;

<div class="col-lg-2 card " >
<form method='GET'><button class = 'p' name="idlebutton" type='submit' style="background-color: transparent"><div class="card-body " ><img class="card-img-left" src="{% static 'images/miniyellow.png'%}" height="40px" width="100px">
 &nbsp;&nbsp;&nbsp;  <span style="font-size: 25px">{{ idle }} </span><b style="padding-left:50px;">Idle</b></div></button>
</form></div>
&nbsp;&nbsp;
<div class="col-lg-2 card"><form class = '' method='GET'><button class="p" name="stopbutton" type='submit' style="background-color: transparent" >
<div class="card-body "><img class="card-img-left" src="{% static 'images/minired.png'%}" height="40px" width="100px" >
&nbsp;&nbsp;<span style="font-size: 25px">{{ stop }} </span><b style="padding-left:50px;margin-bottom: 30px;">Stop</b></div>
</button></form></div>
&nbsp;&nbsp;
<div class="col-lg-2 card "><button class="p" style="background-color: transparent">
<div class="card-body"><img class="card-img-left" src="{% static 'images/miniblue.png'%}" height="40px" width="100px" style="padding-right:10px; ">
    <span style="font-size: 20px"></span><b style="padding-left:30px;margin-bottom: 30px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Data</b></div></button></div>
    &nbsp;&nbsp;<a href="{% url 'alerts' %}" data-toggle="tooltip" data-placement="bottom" title="Alerts"><img style="padding-top: 20px;"  src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/notification-circle-red-512.png" width="50px" height="70px"></a>

</div></div><hr>

<div class="container b " style="position:relative;height: 700px;bottom: 85px;"><div class="row">
<div class="col-lg-3 text-center" >


<div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true" >

<div class=" bg-white">
<h3 style="text-align:center;color: lightblue;"></h3>
<div class="scrollit">
{% for i in list_plate %}
<div class="card-horizontal bg-dark " style="padding-left: 5px;border:3px solid white;border-radius:12px;"> <img src="{% static 'images/miniblue.png'%}" height="55px" width="100px" style="padding-left: 8px;"> <div class="z text-light ">
<div class="d" style="font-size: 12px ; padding-top: 3px;">{{ i.2 }} km
<img src="{% static 'images/charging.png'%}" height="21px" width="30px">
<img src="{% static 'images/battery.png'%}" height="21px" width="20px">
<img src="{% static 'images/noconnection.png'%}" height="21px" width="20px">
<img src="{% static 'images/pro.png'%}" height="25px" width="30px"></div>
<form class="small" method='POST'>{% csrf_token %}
<button value='{{ i.0 }}' class = 'bg-dark' name="listbutton" style="font-size:13px;height: 20px;padding-right: 9px; border: none;" type='submit' id="x">{% csrf_token %}<p style="color:white;">{{ i.0 }}</p></button><p style="padding-bottom: 10px;">{{ i.1 }}</p></form><br><hn style="font-size: 10px;padding-top: 0px;">
</hn><p></p></div></div>
{% endfor %}
</div></div>

</div><!-- container --></div>
<div class="col-lg-6" >
<div id="map" style="width:700px;height:360px; margin-left: 35px">
<script>

function initMap() {

var map = new google.maps.Map(document.getElementById('map'), {
zoom: 3,
center: {lat: 28.7041, lng: 77.1025}
});
var infoWindow = new google.maps.InfoWindow();
var j,labels='';
var x="vehicle Id:MVLHAR200JGS00985,Address: Maharastra,latitude:25.571699  142456055,longitude:83.53079986572266";
for(j in locations){
var data = locations[j];
var marker =  new google.maps.Marker({
position: locations[j],
icon: '{% static 'images/bluecar.png'%}',
map:map
  });


(function (marker, data) {
                google.maps.event.addListener(marker, "click",  function (e) {

                    infoWindow.setContent("<div style = 'width:200px;min-height:90px'>" + x + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);



}




}
var locations = {{ myfile|safe }};


</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&callback=initMap">
</script>
</div>

</div>

{#------------------------------------drop boxes-------------------------------------------------------------------#}

</div></div>

{% spaceless %}
<div class="container c" style="position:relative; bottom: 50px">
<div class="row text-light ">
<div class="col-sm-3 card bg-dark" style="border-radius: 25px; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);">
<div class="card-header"><h5 style="padding-right: 10px">List</h5>

<span class="glyphicon glyphicon-collapse-down" style="float:left;"></span>

</div><div class="card-body"><div id="demo" style="padding-right: 20px;">
<div><p style="font-size: 12px"><img style="width:30px;height: 30px" src="{% static 'images/icon.png'%} "> {{ details.0 }}</p></div>
<div><p style="font-size: 12px"><img style="width:30px;height: 30px" src="{% static 'images/south.png'%}"> Address: Maharastra</p></div>
<div><p style="font-size: 12px"><img style="width:30px;height: 30px" src="{% static 'images/speed.png'%}"> Speed: 28km</p></div>
<div><p style="font-size: 12px"><img style="width:30px;height: 30px" src="{% static 'images/time.png'%}"> Time: 2019-07-22 11:00:59</p></div>
</div>
</div>
</div>
<div class="col-sm-1"></div>
<div class="col-sm-3 card bg-dark" style="border-radius: 25px; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);">
<div class="card-header"><h5>Status</h5>
<span class="glyphicon glyphicon-collapse-down" style="float:left;"></span>

</div><div class="card-body" style="height: 50px"><div id="demo1"></div></div>
</div>
<div class="col-sm-1"></div>
<div class="col-sm-3 card bg-dark" style="border-radius: 25px; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);">
<div class="card-header"><h5>Alerts</h5>
<span class="glyphicon glyphicon-collapse-down" style="float:left;"></span>
</div><div class="card-body"><div id="demo2"><div><p>No Data</p></div>
<div><p></p></div>
<div><p></p></div>
<div><p></p></div>
</div></div>
</div></div>
</div>

{% endspaceless %}
{% endblock content1 %}
