{% extends 'main/sidenav.html' %}
{% load static from staticfiles %}
{% block content1 %}

<script>
var latt,long,locations,response;
function AJAX_JSON_Req( url )
{
var AJAX_req = new XMLHttpRequest();
AJAX_req.open( "GET", url, true );
AJAX_req.setRequestHeader("Content-type", "application/json");
AJAX_req.send();
AJAX_req.onreadystatechange = function()
{
if( AJAX_req.readyState == 4 && AJAX_req.status == 200 )
{
response = JSON.parse( AJAX_req.responseText );
var i;

for(i in response.assetHistory){

latt=response.assetHistory[i].latitude;
long=response.assetHistory[i].longitude;
locations=[[latt,long]];}

}
}
AJAX_req.send();
}

AJAX_JSON_Req( "{% static 'js/track.json' %}" );

function myMap() {

var map = new google.maps.Map(document.getElementById("googleMap"),{

center:new google.maps.LatLng(locations[0][0],locations[0][1]),
zoom:10,});
var infowindow = new google.maps.InfoWindow();
var marker,j,i=0;
for(j in response.assetHistory){

marker = new google.maps.Marker({
position: new google.maps.LatLng(response.assetHistory[j].latitude,response.assetHistory[j].longitude),
map: map
});
google.maps.event.addListener(marker, 'click', (function(marker) {
return function() {
infowindow.open(map, marker);
}
})(marker));
}
}
</script>
<div id="googleMap" style="width:99%;height:900px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&callback=myMap"></script>

{% endblock content1 %}