{% extends 'main/sidenav.html' %}
{% load static from staticfiles %}
{% block content1 %}
<style>
    .a{
padding-top: 100px;
}
   .b{
padding-top: 50px;
}
.card{
border-radius: 12%;
}
.card-body{
width: 200px;
height: 80px;
color:white;
}
.navbar-header .navbar-toggle{
color:white;
}
table,th,td {
border: 1px solid black;
text-align: center;
background-color: rgb(60, 60, 60);
color: white;
}

.scrollit {
    overflow:scroll;
    height:450px;
}
</style>
 <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>


<div class="container a">
    <br>
    <div class="row"><div class="col-lg-1"></div>
        <div class="col-lg-2"><div class="card bg-dark">
            <div class="card-body "><img class="card-img-right" src="{% static 'images/inactive.png'%}" height="40px" width="60px" style="padding-right:20px;">Total-{{ total }}</div></div></div>
            <div class="col-lg-2"><div class="card bg-dark">
                <div class="card-body"><img class="card-img-right" src="{% static 'images/running.png'%}" height="30px" width="40px" style="padding-right:20px;"><a href="#" class="card-link text-white">Running-{{ running }}</a></div></div></div>
                <div class="col-lg-2"><div class="card bg-dark">
                    <div class="card-body "><img class="card-img-right" src="{% static 'images/idle.png'%}" height="40px" width="60px" style="padding-right:20px;">Idle-{{ idle }}</div></div></div>
                    <div class="col-lg-2"><div class="card bg-dark">
                        <div class="card-body "><img class="card-img-right" src="{% static 'images/stop.png'%}" height="40px" width="50px" style="padding-right:20px;">Stop-{{ stop }}</div></div></div>
                        <div class="col-lg-2"><div class="card bg-dark">
                            <div class="card-body"><img class="card-img-right" src="{% static 'images/nodata.png'%}" height="40px" width="60px" style="padding-right:20px;">No Data</div></div></div>
        <div class="col-lg-1"></div>
    </div></div>

<div class="container b"><div class="row">
    <div class="col-lg-3">


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<title style="color: blue";>Running vehicles</title>
        <div class="scrollit">
        <table class="table">
<thead class="thead-dark">
<tr>
<th style="text-align:center;color: lightblue";>Running vehicles</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
</tr>
<tr>
<td>2</td>
</tr>
<tr>
<td>3</td>
</tr>
<tr>
<td>4</td>
</tr>
<tr>
<td>5</td>
</tr>
<tr>
<td>6</td>
</tr>
<tr>
<td>7</td>
</tr>
<tr>
<td>8</td>
</tr>
<tr>
<td>9</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>
<tr>
<td>10</td>
</tr>

</tbody></table>
        </div>

</div><!-- container --></div>

    <div class="col-lg-6">
        <div id="googleMap" style="width:700px;height:500px;">{{ data|safe }}</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&callback=myMap"></script>
    </div>


</div></div>





{% endblock content1 %}